
<div class="footer">
    <footer id="universalF" class="universalHF">
        <div class="uhf-footer-upper">
            <div class="uhf-container">
                <div class="uhf-footer-nav">
                    <ul>
                        <li>
                            <a href="http://www.carsguide.com.au/about-carsguide" data-gtm-category="footer" data-gtm-action="click" data-gtm-label="footer about carsguide" data-gtm-value="">
                                <span class="uhf-icon uhf-icon-info"></span>
                                <span class="uhf-title">About CarsGuide</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.carsguide.com.au/careers" data-gtm-category="footer" data-gtm-action="click" data-gtm-label="footer careers" data-gtm-value="">
                                <span class="uhf-icon uhf-icon-briefcase"></span>
                                <span class="uhf-title">Careers</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.carsguide.com.au/dealer" data-gtm-category="footer" data-gtm-action="click" data-gtm-label="footer for dealers" data-gtm-value="">
                                <span class="uhf-icon uhf-icon-people"></span>
                                <span class="uhf-title">For Dealers</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.carsguide.com.au/media-centre" data-gtm-category="footer" data-gtm-action="click" data-gtm-label="footer media centre" data-gtm-value="">
                                <span class="uhf-icon uhf-icon-media"></span>
                                <span class="uhf-title">Media Centre</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.carsguide.com.au/help-security-centre" data-gtm-category="footer" data-gtm-action="click" data-gtm-label="footer help & security centre" data-gtm-value="">
                                <span class="uhf-icon uhf-icon-help"></span>
                                <span class="uhf-title">Help &amp; Security Centre</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.carsguide.com.au/contact-us" data-gtm-category="footer" data-gtm-action="click" data-gtm-label="footer contact us" data-gtm-value="">
                                <span class="uhf-icon uhf-icon-paper-plane"></span>
                                <span class="uhf-title">Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="uhf-footer-lower">
            <div class="uhf-container">
                <div class="uhf-footer-links">
                    <a href="http://www.carsguide.com.au/conditions-of-use">Terms</a> •
                    <a href="http://www.carsguide.com.au/privacy-policy">Privacy</a> •
                    <a href="http://www.carsguide.com.au/site-map">Site Map</a>
                    <span class="uhf-copyright" alt="prod-174">&copy; 2016 Carsguide.com.au. All rights reserved.</span>
                    <span class="uhf-copyright">ABN: 37 150 757 574</span>
                </div>

                <div class="uhf-social-links">
                    <a href="https://www.facebook.com/carsguide.australia" class="uhf-icon uhf-icon-facebook"></a>
                    <a href="https://twitter.com/Carsguide" class="uhf-icon uhf-icon-twitter"></a>
                    <a href="https://plus.google.com/+carsguide/posts" class="uhf-icon uhf-icon-googleplus"></a>
                    <a href="http://www.youtube.com/user/CARSguideVideo" class="uhf-icon uhf-icon-youtube"></a>
                </div>
            </div>
        </div>

        <!-- .app-link-container -->
        <div class="uhf-footer-app-links">
            <div class="uhf-container">
                <div class="app-links-title">Download the CarsGuide app</div>
                <a href="https://173848.measurementapi.com/serve?action=click&publisher_id=173848&site_id=102438&offer_id=384950&agency_id=992" target="_blank"><img src="//www.carsguide.com.au/sites/all/themes/carsguide_theme/assets/images/Download_on_the_App_Store_Badge.svg" alt="Download from the AppStore"></a>
                <i class="seperator"></i>
                <a href="https://173848.measurementapi.com/serve?action=click&publisher_id=173848&site_id=102440&offer_id=390819&agency_id=992" target="_blank"><img src="//www.carsguide.com.au/sites/all/themes/carsguide_theme/assets/images/Download_google_play_badge.png" alt="Get it on Google Play"></a>
            </div>
        </div>
        <!-- .app-link-container -->

        <div class="uhf-footer-partner">
            <div class="uhf-container">
                <div class="uhf-footer-links">
                    <span class="uhf-separator">Partner sites:</span>
                    <a href="http://www.news.com.au">news.com.au</a>
                    <span class="uhf-separator">|</span>
                    <a href="http://www.careerone.com.au">careerone.com.au</a>
                    <span class="uhf-separator">|</span>
                    <a href="http://www.realestate.com.au">realestate.com.au</a>
                    <span class="uhf-separator">|</span>
                    <a href="http://www.foxsports.com.au">foxsports.com.au</a>
                    <span class="uhf-separator">|</span>
                    <a href="http://www.taste.com.au">taste.com.au</a>
                </div>
            </div>
        </div>

    </footer>
</div>

<!-- scripts for help me choose landing page go here -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- tad -->
<script type="text/javascript" src="//www.carsguide.com.au/misc/uhf/uhf.js?1462920830"></script>
<script>
    jQuery(document).ready(function() {
        window.UHFInitializer.refine.dora = function() {
            $("#refine-button").click();
        }
    });</script>  <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"5ab5008507","applicationID":"4922796","transactionName":"MgNVbUsFVhJRWxBcWQtJdlpNDVcPH2sNWEYJAxdqXAVKAlgYKFRYAQ9ZXhk0WQZV","queueTime":0,"applicationTime":84,"atts":"HkRWGwMfRRw=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>
</html>