<div class="hmc-page-container" id="container">

    <div class="hmcPage">
        <div class="container hmcPage--container">
            <h1 class="hmcPage--heading">Add more details</h1>
        </div>

        <form class="hmcPage--form" style="margin: 20px auto;width:800px;background: #fff">
            <div class="container hmcPage--container">
                <div class="hmcPage--section hmcPage--sectionLifestyle col-xs-24 col-sm-10" style="margin-right:40px;">
                    <h3 class="hmcPage--sectionHeading"></h3>
                    <div class="hmcPage--sectionContent"
                         id="lp_form"></div>
                </div>
                <div class="col-xs-24 col-sm-8" id="lp_result">
                    <img style="opacity: .3" src="/images/iconbig.png" width="400px"/>
                </div>

            </div>
        </form>
    </div>
</div>
<script src="scripts/mmyv.js"></script>
<script src="scripts/form2.js"></script>