<div class="hmc-page-container" id="container">

    <div class="hmcPage">
        <div class="container hmcPage--container">
            <h1 class="hmcPage--heading">Book a service for your car in 3 simple steps</h1>

            <div class="mediaGroup mediaGroup--full">
                <div class="mediaBlock mediaBlock--hmcPage col-xs-24 col-sm-8">
                    <i class="mediaBlock--icon icon-chooseoptions"></i>
                    Tell us about your car
                </div>
                <div class="mediaBlock mediaBlock--hmcPage col-xs-24 col-sm-8">
                    <i class="mediaBlock--icon icon-searchcars"></i>
                    Find a list of service providers near you
                </div>
                <div class="mediaBlock mediaBlock--hmcPage col-xs-24 col-sm-8">
                    <i class="mediaBlock--icon icon-foundcar"></i>
                    Book a service right here on <label class="hmcPage-carsguide-logo"><span>Cars</span>Guide</label>
                </div>
            </div>
        </div>

        <form class="hmcPage--form">
            <div class="container hmcPage--container">
                <div class="hmcPage--section hmcPage--sectionLifestyle col-xs-24 col-sm-8">
                    <h3 class="hmcPage--sectionHeading">Tell us about your car</h3>
                    <div class="hmcPage--sectionContent"
                         id="lp_form"></div>
                    <div class="adsbig"><img src="/images/mrec.png"></div>
                </div>
                <div class="col-xs-24 col-sm-16" id="lp_result">
                    <h3 class="hmcPage--sectionHeading">At your service</h3>

                    <img class="img-thumbnail hero-img" src="http://pictures.topspeed.com/IMG/crop/200702/1993-mclaren-f1-13_600x0w.jpg"/>
                </div>

            </div>
        </form>
    </div>
</div>
<script src="scripts/mmyv.js"></script>
<script src="scripts/dealers.js"></script>
<script src="scripts/simple-result.js"></script>
<script src="scripts/form.js"></script>