#lp_form {
    /*background: #fff;*/
    /*padding: 20px 10px 10px 20px;*/
    margin: 20px 20px 0 0;
    /*border-radius: 4px;*/
}
.serviceFinder--jumbotron{
    background: #fff;
    border-radius: 12px;
    font-size: 18px;
}
.btn{
    height: auto;
}
.serviceFinder--resultItem{
    width: 100%;
    height: 124px;
    float: left;
    border-bottom: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
}
.serviceFinder--resultItem label{
    float: left;
    padding: 0;
    overflow: hidden;
    background: #333;
    width:160px;
    height: 120px;
    margin:2px;
    border-right: 1px solid #999;
}
.serviceFinder--resultItem div{
    padding: 20px;
    float: left;
    opacity: .7;
}
.serviceFinder--resultItem:hover{
    opacity: 1;
}
.serviceFinder--resultItem p{
    max-width: 80%;
    -webkit-filter:blur(1px);
}
.serviceFinder--resultItem img{
    width:160px;
    /*-webkit-filter:blur(4px);*/
    height: 120px;
    margin:0;
}
.serviceFinder--resultItem h3{
    margin:0 0 15px 0;
    font-size: 25px;
}
.serviceFinder--resultItem button.btn-serviceFinder{
    top:70px;
    right:10px;
    background-color: #333;
    color:#fff;
    font-size: 14px;
    margin:0;
    position: absolute;
}
.hero-img{
    -webkit-filter: blur(5px);
    opacity: .7;
}
.hero-img:hover{
    opacity: 1;
    -webkit-filter: blur(0);
}

.adsbig{
    width: 314px;
    text-align: center;
}